<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Stack-Overflow-User-Analysis" data-toc-modified-id="Stack-Overflow-User-Analysis-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Stack Overflow User Analysis</a></span><ul class="toc-item"><li><span><a href="#Introduction" data-toc-modified-id="Introduction-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Introduction</a></span><ul class="toc-item"><li><span><a href="#Objective" data-toc-modified-id="Objective-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Objective</a></span></li><li><span><a href="#Business-Questions" data-toc-modified-id="Business-Questions-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Business Questions</a></span></li><li><span><a href="#Dataset" data-toc-modified-id="Dataset-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Dataset</a></span><ul class="toc-item"><li><span><a href="#Posts_Answers" data-toc-modified-id="Posts_Answers-1.1.3.1"><span class="toc-item-num">1.1.3.1&nbsp;&nbsp;</span>Posts_Answers</a></span></li><li><span><a href="#Posts_Questions" data-toc-modified-id="Posts_Questions-1.1.3.2"><span class="toc-item-num">1.1.3.2&nbsp;&nbsp;</span>Posts_Questions</a></span></li><li><span><a href="#Comments" data-toc-modified-id="Comments-1.1.3.3"><span class="toc-item-num">1.1.3.3&nbsp;&nbsp;</span>Comments</a></span></li><li><span><a href="#Users" data-toc-modified-id="Users-1.1.3.4"><span class="toc-item-num">1.1.3.4&nbsp;&nbsp;</span>Users</a></span></li></ul></li></ul></li><li><span><a href="#Loading-Library" data-toc-modified-id="Loading-Library-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Loading Library</a></span></li><li><span><a href="#Monthly-Users-Count" data-toc-modified-id="Monthly-Users-Count-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Monthly Users Count</a></span></li><li><span><a href="#YoY-comparison" data-toc-modified-id="YoY-comparison-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>YoY comparison</a></span></li><li><span><a href="#Monthly-Active-Users" data-toc-modified-id="Monthly-Active-Users-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Monthly Active Users</a></span></li><li><span><a href="#Monthly-Active-Users-by-type" data-toc-modified-id="Monthly-Active-Users-by-type-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Monthly Active Users by type</a></span></li><li><span><a href="#Monthly-Active-Users-by-New-and-Returning" data-toc-modified-id="Monthly-Active-Users-by-New-and-Returning-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Monthly Active Users by New and Returning</a></span></li></ul></li></ul></div>

# Stack Overflow User Analysis

![stackoverflow](https://user-images.githubusercontent.com/32689388/41993208-836c7f46-79ff-11e8-90d3-9f1ae9042e06.jpeg)

## Introduction

Stack Overflow is a privately held website, the flagship site of the Stack Exchange Network, created in 2008 by Jeff Atwood and Joel Spolsky. It was created to be a more open alternative to earlier question and answer sites such as Experts-Exchange. The name for the website was chosen by voting in April 2008 by readers of Coding Horror, Atwood's popular programming blog.

### Objective

This project is to analyze Stackoverflow's user growth by using Posts_Answers, Posts_Questions, Comment, and user datasets.

### Business Questions

* Monthly Users Count
* YoY comparison
* Monthly Active Users by different types

### Dataset

#### Posts_Answers

![screen shot 2018-06-27 at 11 39 58 am](https://user-images.githubusercontent.com/32689388/41993113-3987eb90-79ff-11e8-8e9f-9eefd7460d95.png)

#### Posts_Questions

![screen shot 2018-06-27 at 11 40 36 am](https://user-images.githubusercontent.com/32689388/41993144-54a6b924-79ff-11e8-8290-2b6b2f380656.png)

#### Comments

![screen shot 2018-06-27 at 11 41 13 am](https://user-images.githubusercontent.com/32689388/41993164-6b7b57c2-79ff-11e8-9843-30f990388aba.png)

#### Users

![screen shot 2018-06-27 at 11 41 24 am](https://user-images.githubusercontent.com/32689388/41993184-7992935c-79ff-11e8-8225-810dedff011d.png)

## Loading Library

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from pandas.io import gbq

%matplotlib inline

In [2]:
project_id = 'sublime-oxygen-181503'

## Monthly Users Count
Create a report with monthly New Users Count and EOM total # of Users (running total)

In [3]:
querry = """

SELECT 
    t1.year,t1.month,t1.new_user,
    SUM(t1.new_user) OVER (ORDER BY t1.year,t1.month) AS end_of_month_users
FROM (
      SELECT 
          EXTRACT(YEAR FROM creation_date) AS year,
          EXTRACT(month from creation_date) AS month,
          COUNT(*) AS new_user
      FROM 
          `bigquery-public-data.stackoverflow.users`
          GROUP BY year,month
     )t1

"""

In [5]:
df1 = gbq.read_gbq(querry, project_id = project_id, dialect = "standard")
df1.head()

   year  month  new_user  end_of_month_users
0  2008      7         9                   9
1  2008      8      2816                2825
2  2008      9      9663               12488
3  2008     10      3553               16041
4  2008     11      2863               18904

In [25]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
year                  120 non-null int64
month                 120 non-null int64
new_user              120 non-null int64
end_of_month_users    120 non-null int64
dtypes: int64(4)
memory usage: 3.8 KB

## YoY comparison

Include two additional metrics in above report: LY New Users Count, and LY EOM total # of Users. If current month is 10/2017, then LY New Users Count is: 10/2016. You can use analytical functions or the date dimension. #4, #5, #6 are all related

In [6]:
querry = """

WITH 
q1 AS (
        SELECT 
            t1.year,t1.month,t1.new_user,
            SUM(t1.new_user) OVER (ORDER BY t1.year,t1.month) AS EOM_user
        FROM(
            SELECT 
                EXTRACT(year FROM creation_date) AS year,
                EXTRACT(month FROM creation_date) AS month,
                COUNT(*) AS new_user
            FROM 
                `bigquery-public-data.stackoverflow.users`
            GROUP BY 
                year,month
            )t1
        )

SELECT 
    A.*, B.new_user AS LY_new_user, 
    B.EOM_user AS LY_EOM_user
FROM 
    q1 AS A
LEFT JOIN 
    q1 AS B
ON 
    A. year = B.year+1
    AND A.month = B.month

"""

In [26]:
df2 = gbq.read_gbq(querry, project_id = project_id, dialect = "standard")
df2.head()

   year  month  user_id  question_flag  comment_flag  answer_flag
0  2008      7        8              1             0            0
1  2008      7        1              1             0            1
2  2008      7        9              1             0            1
3  2008      8      809              0             0            1
4  2008      8     1231              0             0            1

In [27]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7105986 entries, 0 to 7105985
Data columns (total 6 columns):
year             int64
month            int64
user_id          int64
question_flag    int64
comment_flag     int64
answer_flag      int64
dtypes: int64(6)
memory usage: 325.3 MB

## Monthly Active Users

Let’s define Active as:

As long as the user post a question, or a comment or an answer, we consider (s)he is active in that day or month.

Final MAU fact_table can start from following columns. (createTs is only used for incremental ETL as we learnt in class, it is not that meaningful in this exercise since we’re loading everything within one batch.) 
Month, User_id (, createTs )

Then the final monthly active count will be a simple select from above table.

In [8]:
querry = """

SELECT 
    DISTINCT(owner_user_id) AS user_id,
    EXTRACT(YEAR FROM creation_date) AS YEAR,
    EXTRACT(MONTH FROM creation_date) AS month,
    CURRENT_TIMESTAMP() AS createTs
FROM 
    `bigquery-public-data.stackoverflow.posts_questions`
WHERE 
    owner_user_id IS NOT NULL
    AND extract(year FROM creation_date)<2015

UNION DISTINCT

SELECT 
    DISTINCT(user_id) AS user_id,
    EXTRACT(YEAR FROM creation_date) AS year,
    EXTRACT(MONTH FROM creation_date) AS month,
    CURRENT_TIMESTAMP() AS createTs
FROM 
    `bigquery-public-data.stackoverflow.comments`
WHERE 
    user_id IS NOT NULL
    AND extract(year FROM creation_date)<2015

UNION DISTINCT

SELECT 
    DISTINCT(owner_user_id) AS user_id,
    EXTRACT(year FROM creation_date) AS year,
    EXTRACT(month FROM creation_date) AS month,
    CURRENT_TIMESTAMP() AS createTs
FROM 
    `bigquery-public-data.stackoverflow.posts_answers`
WHERE 
    owner_user_id IS NOT NULL 
    AND extract(YEAR FROM creation_date)<2015

ORDER BY 1，2，3

"""

In [24]:
df3 = gbq.read_gbq(querry, project_id = project_id, dialect = "standard")
df3.head()

   year  month  user_id  question_flag  comment_flag  answer_flag
0  2008      7        8              1             0            0
1  2008      7        1              1             0            1
2  2008      7        9              1             0            1
3  2008      8     3894              1             0            0
4  2008      8     3631              0             0            1

In [28]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7105986 entries, 0 to 7105985
Data columns (total 6 columns):
year             int64
month            int64
user_id          int64
question_flag    int64
comment_flag     int64
answer_flag      int64
dtypes: int64(6)
memory usage: 325.3 MB

## Monthly Active Users by type

To understand their engagement level, e.g.: Monthly Post-Question Active, Monthly Make-Comments Active, Monthly Answer-Question Active. And we know one user can be in one, two or all three of these buckets, and these active numbers are not additive. 

Below is one way we can address this problem:m
Month, User_id, question_flag, comment_flag, answer_flag(, createTs)

In [20]:
querry = """

WITH 
q4 AS (SELECT 
            DISTINCT(owner_user_id) AS user_id,
            EXTRACT(year FROM creation_date) AS year,
            EXTRACT(month FROM creation_date) AS month,
            "question" AS type,
            CURRENT_TIMESTAMP() AS createTs
        FROM 
            `bigquery-public-data.stackoverflow.posts_questions`
        WHERE owner_user_id IS NOT NULL
                AND extract(YEAR FROM creation_date)<2015

        UNION DISTINCT

        SELECT 
            DISTINCT(user_id) AS user_id,
            EXTRACT(YEAR FROM creation_date) AS year,
            EXTRACT(MONTH FROM creation_date) AS month,
            "comment" AS type,
            CURRENT_TIMESTAMP() AS createTs
        FROM 
            `bigquery-public-data.stackoverflow.comments`
        WHERE user_id IS NOT NULL
                AND extract(YEAR FROM creation_date)<2015

        UNION DISTINCT

        SELECT 
            DISTINCT(owner_user_id) AS user_id,
            EXTRACT(YEAR FROM creation_date) AS year,
            EXTRACT(MONTH FROM creation_date) AS month,
            "answer" AS type,
            CURRENT_TIMESTAMP() AS createTs
        FROM 
            `bigquery-public-data.stackoverflow.posts_answers`
        WHERE owner_user_id IS NOT NULL
                AND extract(YEAR FROM creation_date)<2015
        )

SELECT 
    q4.year, q4.month, q4.user_id,
    MAX(CASE WHEN q4.type = "question" THEN 1 ELSE 0 END) AS question_flag,
    MAX(CASE WHEN q4.type = "comment" THEN 1 ELSE 0 END) AS comment_flag,
    MAX(CASE WHEN q4.type = "answer" THEN 1 ELSE 0 END) AS answer_flag
FROM 
    q4
GROUP BY
    q4.year, q4.month, q4.user_id

"""

In [21]:
df4 = gbq.read_gbq(querry, project_id = project_id, dialect = "standard")
df4.head()

   year  month  user_id  question_flag  comment_flag  answer_flag
0  2008      7        8              1             0            0
1  2008      7        1              1             0            1
2  2008      7        9              1             0            1
3  2008      8     3894              1             0            0
4  2008      8     3631              0             0            1

In [23]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7105986 entries, 0 to 7105985
Data columns (total 6 columns):
year             int64
month            int64
user_id          int64
question_flag    int64
comment_flag     int64
answer_flag      int64
dtypes: int64(6)
memory usage: 325.3 MB

## Monthly Active Users by New and Returning

New/Returning Active: If the users has been created in the same month, then “New”, else “Returning” . Note a user can be either “New” or “Returning” in the given period of time. So New and Returning counts are additive.

In [29]:
querry = """

WITH 
    q4 AS(
        SELECT 
            DISTINCT(owner_user_id) AS user_id,
            EXTRACT(year FROM creation_date) AS year,
            EXTRACT(month FROM creation_date) AS month,
            "question" AS type,
            CURRENT_TIMESTAMP() AS createTs
        FROM 
            `bigquery-public-data.stackoverflow.posts_questions`
        WHERE 
            owner_user_id IS NOT NULL
            AND EXTRACT(YEAR FROM creation_date)<2015

        UNION DISTINCT

        SELECT 
            DISTINCT(user_id) AS user_id,
            EXTRACT(year FROM creation_date) AS year,
            EXTRACT(month FROM creation_date) AS month,
            "comment" AS type,
            CURRENT_TIMESTAMP() AS createTs
        FROM 
            `bigquery-public-data.stackoverflow.comments`
        WHERE 
            user_id IS NOT NULL
            AND EXTRACT(year from creation_date)<2015

        UNION DISTINCT

        SELECT 
            DISTINCT(owner_user_id) AS user_id,
            EXTRACT(YEAR FROM creation_date) AS year,
            EXTRACT(MONTH FROM creation_date) AS month,
            "answer" as type,
            CURRENT_TIMESTAMP() AS createTs
        FROM 
            `bigquery-public-data.stackoverflow.posts_answers`
        WHERE 
            owner_user_id IS NOT NULL
            AND EXTRACT(YEAR FROM creation_date)<2015
            )

SELECT 
    q5.year, q5.month, q5.user_id, 
    CASE WHEN q5.year = user.year AND q5.month = user.month 
         THEN "New" ELSE "Ret" END AS new_vs_ret,
    q5.question_flag, q5.comment_flag, q5.answer_flag
FROM(
      SELECT 
          q4.year, q4.month, q4.user_id,
          MAX(CASE WHEN q4.type = "question" THEN 1 ELSE 0 END) AS question_flag,
          MAX(CASE WHEN q4.type = "comment" THEN 1 ELSE 0 END) AS comment_flag,
          MAX(CASE WHEN q4.type = "answer" THEN 1 ELSE 0 END) AS answer_flag
      FROM 
          q4
      GROUP BY 
          1,2,3
     )q5
LEFT JOIN (
            SELECT 
                id,EXTRACT(YEAR FROM creation_date) AS year,
                EXTRACT(month FROM creation_date) AS month
            FROM 
                `bigquery-public-data.stackoverflow.users`
           )user
ON 
    q5.user_id = user.id
ORDER BY 
    1,2,3

"""

In [33]:
df5 = gbq.read_gbq(querry, project_id = project_id, dialect = "standard")
df5.head()

   year  month  user_id new_vs_ret  question_flag  comment_flag  answer_flag
0  2008      7        1        New              1             0            1
1  2008      7        8        New              1             0            0
2  2008      7        9        New              1             0            1
3  2008      8        1        Ret              1             1            1
4  2008      8        2        Ret              1             0            1

In [34]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7105986 entries, 0 to 7105985
Data columns (total 7 columns):
year             int64
month            int64
user_id          int64
new_vs_ret       object
question_flag    int64
comment_flag     int64
answer_flag      int64
dtypes: int64(6), object(1)
memory usage: 379.5+ MB